.list-item {
  margin: 20px;
  padding: 20px;
 }
 
 .context-menu-position {
  position: fixed;
  padding: 80px;
  background: magenta;
  border: 4px solid black;
  font-size: 40px;
  font-weight: bold;
 }
